<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Creatives</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'layout/Creative/media/img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'lib/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'layout/Creative/css/style.min.css' %}">
    </head>
<body>
    <section class="head-block">
    <header class="header head-block__header">
        <div class="logo header__logo">
            <div class="logo__container logo__container-front">
                <a href="/" class="logo__link shadow shadow_text_white-outset">cs</a>
            </div>
            <div class="logo__container logo__container-back"></div>
        </div>
        <nav class="navigation">
            <a href="#" class="navigation__link shadow shadow_text_white-outset">Home</a>
            <a href="#" class="navigation__link shadow shadow_text_white-outset">Pages</a>
            <a href="#" class="navigation__link shadow shadow_text_white-outset">Features</a>
            <a href="#" class="navigation__link shadow shadow_text_white-outset">Extensions</a>
            <a href="#" class="navigation__link shadow shadow_text_white-outset">Tutorials</a>
            <a href="#" class="navigation__link shadow shadow_text_white-outset">Contact's</a>
        </nav>
        <div class="social-icons">
            <a href="#"><i class="social-icons__icon shadow shadow_text_white-outset fab fa-facebook-f"></i></a>
            <a href="#"><i class="social-icons__icon shadow shadow_text_white-outset fab fa-twitter"></i></a>
            <a href="#"><i class="social-icons__icon shadow shadow_text_white-outset fab fa-skype"></i></a>
            <a href="#"><i class="social-icons__icon shadow shadow_text_white-outset fab fa-instagram"></i></a>
        </div>
    </header>
    <div class="head-block__container">
        <h2 class="head-block__main-headline">Creatives</h2>
        <div class="head-block__scroll-down">
            <span class="head-block__scroll-text">Scroll to Form</span>
            <a href="#form" class="head-block__scroll-button shadow shadow_box_white-outset">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </div>
</section>
    <article class="about-agency block-blog">
    <h2 class="block-blog__headline headline headline_ligth">We Are An Awesome Agency</h2>
    <div class="block-blog__bgS bgS bgS_ligth">W</div>
    <div class="block-blog__card-container">
        <section class="block-blog__card">
            <div class="about-agency__preview"><i class="far fa-edit"></i></div>
            <h3 class="about-agency__headline headline headline_ligth">Feature one</h3>
            <p class="text text_ligth">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue
                laoreet rutrum faucibus</p>
        </section>
        <section class="block-blog__card">
            <div class="about-agency__preview"><i class="far fa-edit"></i></div>
            <h3 class="about-agency__headline headline headline_ligth">Feature one</h3>
            <p class="text text_ligth">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue
                laoreet rutrum faucibus</p>
        </section>
        <section class="block-blog__card">
            <div class="about-agency__preview"><i class="far fa-edit"></i></div>
            <h3 class="about-agency__headline headline headline_ligth">Feature one</h3>
            <p class="text text_ligth">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue
                laoreet rutrum faucibus</p>
        </section>
        <section class="block-blog__card">
            <div class="about-agency__preview"><i class="far fa-edit"></i></div>
            <h3 class="about-agency__headline headline headline_ligth">Feature one</h3>
            <p class="text text_ligth">Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue
                laoreet rutrum faucibus</p>
        </section>
    </div>
</article>
    <article class="news-area">
    <section class="news-area__info news-area__info_straight">
        <span class="news-area__data text text_ligth">Jan 4, 2016 | In Culture</span>
        <h4 class="news-area__name headline headline_ligth">Akita Inu Dog</h4>
        <p class="news-area__text text text_ligth">Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.<br><br>Donec ullamcorper nulla non metus
            auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur</p>
    </section>
    <a href="#" class="news-area__img-link news-area__img-link_straight shadow shadow_box_white-inset"></a>
    <section class="news-area__info news-area__info_reverse">
        <span class="news-area__data text text_dark">Jan 4, 2016 | In Culture</span>
        <h4 class="news-area__name headline headline_dark">Akita Inu Dog</h4>
        <p class="news-area__text text text_dark">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.<br><br>Donec ullamcorper nulla non metus auctor
            fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur</p>
    </section>
    <a href="#" class="news-area__img-link news-area__img-link_reverse shadow shadow_box_white-inset"></a>
</article>
    <article class="block-blog">
    <h2 class="block-blog__headline headline headline_dark">Let's blog</h2>
    <div class="block-blog__bgS bgS bgS_dark">B</div>
    <span class="block-blog__span headline_dark">We love clean design and advanced digital solutions.</span>
    <div class="block-blog__card-container">
        <section class="area-card block-blog__card">
            <a href="#" class="area-card__preview shadow shadow_box_black-outset"></a>
            <h3 class="area-card__headline headline headline_blue">Fresh Summer</h3>
            <p class="text text_dark">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus
                vel augue.</p>
        </section>
        <section class="area-card block-blog__card">
            <a href="#" class="area-card__preview shadow shadow_box_black-outset"></a>
            <h3 class="area-card__headline headline headline_blue">Fresh Summer</h3>
            <p class="text text_dark">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus
                vel augue.</p>
        </section>
        <section class="area-card block-blog__card">
            <a href="#" class="area-card__preview shadow shadow_box_black-outset"></a>
            <h3 class="area-card__headline headline headline_blue">Fresh Summer</h3>
            <p class="text text_dark">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus
                vel augue.</p>
        </section>
        <section class="area-card block-blog__card">
            <a href="#" class="area-card__preview shadow shadow_box_black-outset"></a>
            <h3 class="area-card__headline headline headline_blue">Fresh Summer</h3>
            <p class="text text_dark">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus
                vel augue.</p>
        </section>
    </div>
</article>
    <div class="quick-action-area">
    <div class="quick-action-area__card">
        <div class="quick-action-area__icon"><i class="far fa-edit"></i></div>
        <p class="quick-action-area__text text text_ligth">Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </div>
    <div class="quick-action-area__card">
        <div class="quick-action-area__icon"><i class="far fa-edit"></i></div>
        <p class="quick-action-area__text text text_ligth">Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </div>
</div>
    <article class="block-blog">
    <h2 class="block-blog__headline headline headline_dark">Our Team</h2>
    <div class="block-blog__bgS bgS bgS_dark">T</div>
    <span class="block-blog__span headline_dark">sales long tail influencer pitch release niche market.</span>
    <div class="block-blog__card-container">
        <section class="card-team block-blog__card">
            <img class="card-team__img" src="{% static 'layout/Creative/media/img/employee_1.png' %}" alt="employee">
            <a href="#" class="card-team__man-block shadow shadow_box_black-outset">
                <h3 class="card-team__name headline headline_blue">JOHN SNOW</h3>
                <h4 class="card-team__spec text">CEO</h4>
            </a>
        </section>
        <section class="card-team block-blog__card">
            <img class="card-team__img" src="{% static 'layout/Creative/media/img/employee_2.png' %}" alt="employee">
            <a href="#" class="card-team__man-block shadow shadow_box_black-outset">
                <h3 class="card-team__name headline headline_blue">JOHN SNOW</h3>
                <h4 class="card-team__spec text">WebDesigner</h4>
            </a>
        </section>
        <section class="card-team block-blog__card">
            <img class="card-team__img" src="{% static 'layout/Creative/media/img/employee_3.png' %}" alt="employee">
            <a href="#" class="card-team__man-block shadow shadow_box_black-outset">
                <h3 class="card-team__name headline headline_blue">DAVID SMITH</h3>
                <h4 class="card-team__spec text">Photographer</h4>
            </a>
        </section>
        <section class="card-team block-blog__card">
            <img class="card-team__img" src="{% static 'layout/Creative/media/img/employee_4.png' %}" alt="employee">
            <a href="#" class="card-team__man-block shadow shadow_box_black-outset">
                <h3 class="card-team__name headline headline_blue">LADY SANSA</h3>
                <h4 class="card-team__spec text">Photographer</h4>
            </a>
        </section>
    </div>
</article>
    <section class="contact-area block-blog" id="form">
    <h2 class="block-blog__headline headline headline_ligth">We’d love to hear about your project.</h2>
    <div class="block-blog__bgS bgS bgS_ligth">C</div>
    <form class="form">
        <input class="form__input" type="text" placeholder="Name">
        <input class="form__input" type="email" placeholder="Email">
        <input class="form__input" type="number" placeholder="Phone">
        <textarea class="form__input form__message" placeholder="Message"></textarea>
        <button type="reset" class="form__button headline headline_ligth shadow shadow_text_white-outset">Submit</button>
    </form>
</section>
    <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20510.40360082554!2d14.194394489921985!3d50.01509530966383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470bbc4531ac78a7%3A0xa62f75a03cbbbb41!2zMjUyIDE2IE51xI1pY2UsINCn0LXRhdC40Y8!5e0!3m2!1sru!2sru!4v1586960438206!5m2!1sru!2sru"
            frameborder="0" style="border:0" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
    <footer class="footer"><span class="footer__span">© 2016 All Right Reserved</span></footer>
</body>
</html>