<footer>

    <!-- Social Media -->
    <div class="social animated fadeInUp">
        <ul>
            <li><a href="https://t.me/ck1e_wk" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
            <li><a href="mailto:ck1e.wk@gmail.com" target="_blank"><i class="fas fa-at"></i></a></li>
            <li><a href="https://github.com/ck1e" target="_blank"><i class="fab fa-github"></i></a></li>
            <!--<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>-->
        </ul>
    </div>

    <!-- Copyright -->
    <div class="copyright animated fadeInUp">
        <p>&copy; ck1e {% now 'Y' %}</p>
    </div>

</footer>
