{% load static %}
<header>

    <!-- Logo -->
    <a class="logo animated fadeInDown" href="/"></a>

    <!-- Menu Toggle -->
    <div class="button_container animated fadeInDown" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu text-uppercase">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About us</a></li>
                <li><a href="portfolio">Portfolio</a></li>
            </ul>
        </nav>
    </div>

    <!-- Mobile Navbar -->
    <a href="about" class="m-navbar-left animated fadeInDown text-uppercase">
        <span>About us</span>
    </a>
    <a href="portfolio" class="m-navbar-right animated fadeInDown text-uppercase">
        <span>Portfolio</span>
    </a>

</header>