{% include "portfolio/include/head.html" with title="ck1e | Personal" c1=True body_class="home" %}
{% include "portfolio/include/header.html" %}

<main class="home-container">

    <!-- Background -->
    <div class="outer-page personal">
        <div class="inner-page personal">
            <div class="decor"></div>
        </div>
    </div>

    <section class="table c1-table">
        <div class="valign">
            <div class="title-personal">
                <p>Hello, iam</p>
                <h1>Alex</h1>
                <p>A DEVELOPER from Moscow, engaged in the development of websites and web-applications.</p>
                <div class="mt-5"><a href="portfolio" class="btn-link">My cases</a></div>
            </div>
            <div class="skills">
                <div class="ww-content" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
                    <div class="icon hov">
                        <i class="fab fa-connectdevelop"></i>
                    </div>
                    <h5>Front-END</h5>
                    <ul class="list-services">
                        <li>html+css</li>
                        <li>JavaScript</li>
                        <li>Vue.JS</li>
                    </ul>
                </div>
                <div class="ww-content" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
                    <div class="icon hov">
                        <i class="fab fa-connectdevelop"></i>
                    </div>
                    <h5>Back-END</h5>
                    <ul class="list-services">
                        <li>php</li>
                        <li>python</li>
                        <li>docker</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "portfolio/include/footer.html" %}
{% include "portfolio/include/last.html" %}
