<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Minimal Portfolio</title>
    <link rel="stylesheet" href="{% static 'lib/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'layout/MinimalPortfolio/css/style.min.css' %}">
</head>
<body>
    <div class="wrapper wrapper_home">
        <header class="header">
            <p href="index.html" class="header__logo"><span>B</span><span>white.</span></p>
            <nav class="header__navigation">
                <button class="header__menu-btn transition btn">Menu</button>
                <div class="header__dropdown">
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/about.html" class="header__link transition btn">About.</a>
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/works.html" class="header__link transition btn">Works.</a>
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/contact.html" class="header__link transition btn">Contact.</a>
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/404.html" class="header__link transition btn">404.</a>
                </div>
            </nav>
        </header>
        <main class="main home-main">
            <h1 class="home-main__title">Black.</h1>
            <h2 class="home-main__sub-title horizontal-line">Minimal Portfolio.</h2>
        </main>
        <footer class="footer">
            <p class="footer__copyright"><span>Web</span> - developer 2020</p>
            <div class="footer__social">
                <a href="#" class="footer__link transition btn"><i class="fab fa-telegram-plane"></i></a>
                <a href="#" class="footer__link transition btn"><i class="fab fa-vk"></i></a>
                <a href="#" class="footer__link transition btn"><i class="fab fa-google"></i></a>
                <a href="#" class="footer__link transition btn"><i class="fab fa-github"></i></a>
            </div>
        </footer>
    </div>
</body>
</html>