<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Minimal Portfolio</title>
    <link rel="stylesheet" href="{% static 'lib/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'layout/MinimalPortfolio/css/style.min.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <p href="index.html" class="header__logo"><span>B</span><span>white.</span></p>
            <nav class="header__navigation">
                <button class="header__menu-btn transition btn">Menu</button>
                <div class="header__dropdown">
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/about.html" class="header__link transition btn">About.</a>
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/contact.html" class="header__link transition btn">Contact.</a>
                    <a href="http://layout.ck1e.ru/MinimalPortfolio/404.html" class="header__link transition btn">404.</a>
                </div>
            </nav>
        </header>
        <main class="main">
            <h1 class="main__title">Works.</h1>
            <h2 class="main__sub-title horizontal-line">see my projects</h2>
            <div class="main__projects project-wrapper">
                <section class="project">
                    <div class="project__info">
                        <h1 class="project__title"><span>Mountain1.</span></h1>
                        <p class="project__description">Web page for mountain agency</p>
                        <a href="http://layout.ck1e.ru/MinimalPortfolio/detail-project.html" class="project__btn-detail transition btn">
                            <span class="transition">view details</span>
                        </a>
                    </div>
                    <div class="project__preview preview"></div>
                </section>
                <section class="project">
                    <div class="project__info">
                        <h1 class="project__title"><span>Mountain2.</span></h1>
                        <p class="project__description">Web page for mountain agency</p>
                        <a href="http://layout.ck1e.ru/MinimalPortfolio/detail-project.html" class="project__btn-detail transition btn">
                            <span class="transition">view details</span>
                        </a>
                    </div>
                    <div class="project__preview preview"></div>
                </section>
                <section class="project">
                    <div class="project__info">
                        <h1 class="project__title"><span>Mountain3.</span></h1>
                        <p class="project__description">Web page for mountain agency</p>
                        <a href="http://layout.ck1e.ru/MinimalPortfolio/detail-project.html" class="project__btn-detail transition btn">
                            <span class="transition">view details</span>
                        </a>
                    </div>
                    <div class="project__preview preview"></div>
                </section>
                <section class="project">
                    <div class="project__info"><h1 class="project__title"><span>Mountain4.</span></h1>
                        <p class="project__description">Web page for mountain agency</p>
                        <a href="http://layout.ck1e.ru/MinimalPortfolio/detail-project.html" class="project__btn-detail transition btn">
                            <span class="transition">view details</span>
                        </a>
                    </div>
                    <div class="project__preview preview"></div>
                </section>
                <section class="project">
                    <div class="project__info">
                        <h1 class="project__title"><span>Mountain5.</span></h1>
                        <p class="project__description">Web page for mountain agency</p>
                        <a href="http://layout.ck1e.ru/MinimalPortfolio/detail-project.html" class="project__btn-detail transition btn">
                            <span class="transition">view details</span>
                        </a>
                    </div>
                    <div class="project__preview preview"></div>
                </section>
                <section class="project">
                    <div class="project__info">
                        <h1 class="project__title"><span>Mountain6.</span></h1>
                        <p class="project__description">Web page for mountain agency</p>
                        <a href="http://layout.ck1e.ru/MinimalPortfolio/detail-project.html" class="project__btn-detail transition btn">
                            <span class="transition">view details</span>
                        </a>
                    </div>
                    <div class="project__preview preview"></div>
                </section>
                <div class="project__btn-switch">
                    <button class="project__previous transition btn"><i class="fas fa-arrow-left"></i></button>
                    <button class="project__next transition btn"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <button id="mainProject" class="main__load-more load-more transition btn">
                <i class="fa-long-arrow-alt-up"></i>
                <span>load more</span>
                <i class="fas fa-long-arrow-alt-down"></i>
            </button>
        </main>
        <footer class="footer">
            <p class="footer__copyright"><span>Web</span> - developer 2020</p>
            <div class="footer__social">
                <a href="#" class="footer__link transition btn"><i class="fab fa-telegram-plane"></i></a>
                <a href="#" class="footer__link transition btn"><i class="fab fa-vk"></i></a>
                <a href="#" class="footer__link transition btn"><i class="fab fa-google"></i></a>
                <a href="#" class="footer__link transition btn"><i class="fab fa-github"></i></a>
            </div>
        </footer>
    </div>
    <script src="{% static 'layout/MinimalPortfolio/js/script.min.js' %}"></script>
</body>
</html>