<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Err400</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'portfolio/media/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'err/css/style.min.css' %}" media="all">
</head>
<body class="err">
    <h1>400</h1>
    <h2>Bad Request</h2>
</body>
</html>